[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
channels = "*"
channels-redis = "*"
pytest-asyncio = "*"
Pillow = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.9"
